<div id='round-fixture'>
  {{#each round.matches as |match|}}
    {{#if match.isCompleted}}
      {{match-completed match=match}}
    {{else}}
      {{match-future match=match}}
    {{/if}}
  {{/each}}
</div>
