#nav-bar {
  color: $white;
  background-color: $blue;
  box-shadow: 0 rem(1) rem(2) rem(1) rgba(0,0,0,0.25);

  > .inner {
    height: rem(60);
    display: flex;
    justify-content: space-between;

    max-width: $app-width;
    margin: auto;
  }

  .left, .right {
    display: flex;
    align-items: center;
  }

  .left {
    .logo {
      &, img {
        width: rem(60);
        height: 100%;
      }
    }
    .heading {
      font-size: $large-font-size;
    }
  }

  .right {
    .item {
      font-size: $small-font-size;
    }
  }
}
